
.colored-section
{
    padding: 20px 50px;
    padding-right: 20px;
    background-color: #f29ec0;
}
.big-heading
{
    color: white;
    font-size: 3.5rem;
    margin-top: 150px;
}
.row
{
    padding-top: 150px;
}
.download-button
{
    margin-top: 60px;
    padding: 8px 60px;
    position: relative;
    left: 10px;
}

.uptext{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top:80px;
}
.section-heading{
    font-size: 3.5rem;
}
#pricing{
    padding: 50px;
}
.price-text{
    padding-top: 20px;
    padding-bottom: 30px;
    font-size: 3rem;
    line-height: 1.5;
}

.pricing-column {
    padding: 3% 2%;
    text-align: center;
  }
  
.card-body button{
    margin-top: 40px;
    margin-bottom: 30px;
    width: 100%;
}
.d3-div{
    
    width:100%;
    height:600px;
    position: relative;
    top:10px;
    left:20px;
    border-radius: 50px;
}
.div3{
    width :600px;
    height: 500px;
}
.row2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 715px;

}
#canvas3d{
    border-radius: 12px;
}

@media screen and (max-width: 1280px) {
    .d3-div{
        width: 60%;
        height: 600px;
        right: 100px;
        margin-bottom: 50px;
        
    }
    .row2{
        flex-direction: column;
        height: 1200px;
        align-items: center;
        padding-right: 50px;
    }
    .big-heading{
        text-align: center;
    }
    .div3{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}